---
import "../styles/global.css";
import "../styles/search.css";
import "@fontsource/commissioner/300.css";
import "@fontsource/commissioner/400.css";
import "@fontsource/commissioner/500.css";
import "@fontsource/commissioner/700.css";
import "@fontsource/crimson-pro/400-italic.css";
import "@fontsource/crimson-pro/400.css";
import "@fontsource/crimson-pro/500.css";
import "@fontsource/crimson-pro/700.css";

export interface Props {
  title?: string;
  description?: string;
  previewImage?: string;
}

const { SITE_NAME, SITE_DESCRIPTION } = import.meta.env;
const title = Astro.props.title
  ? `${Astro.props.title} | ${SITE_NAME}`
  : SITE_NAME;
const description = Astro.props.description ?? SITE_DESCRIPTION;
const previewImage = Astro.props.previewImage
  ? `${Astro.props.previewImage}?nf_resize=smartcrop&w=600&h=315`
  : `${Astro.site}/icons/motoviaggiatori_opengraph.png`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/icons/motoviaggiatori_32.png" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={previewImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={previewImage} />
